.App {
    text-align: center;
}

.jumbotron {
    padding: 30px;
    text-align: center;
    color: white;
    background-color: darkslateblue;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.searchbox {
    margin-left: 30px;
    margin-right: 30px;
}

img {
    border-radius: 2px;
}